* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #537291;
}

.login {
	max-width: 400px;
    height: 330px;
	margin: 50px auto;
	background: #fff;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 110px;
}

h1 {
	margin-top: 0;
	font-size: 25px;
	font-weight:900;
	color: #666;
    text-decoration: underline;
    text-underline-offset: 5px; /* la distance entre souligner et titre */
    text-decoration-thickness: 5px;  /*pour personnaliser l'apparence du souligne */

}

form {
	margin-top: 50px;
}

input[type="text"],
input[type="password"] {
	width: 90%;
    height: 40px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
   /* definit une bordure en relief et une ombre pour les champs de saisie de text et mdps*/
    
	outline: none;
	box-shadow: 0px 0px 10px rgba(3, 2, 43, 0.3); /* afficher une couleur lorsque on clique sur le champ */
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background: #3498db;
	color: #eeecec;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 16px;
    width: 180px;
}
input[type="text"]:hover,input[type="password"]:hover{ /* pour le zoom des champs */
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}